




1850


.neviem {
    display: block;
    text-align: center;
    color: white;
}

body {
    background-color: rgb(45, 38, 38);
}

.NiečoOMne {
    background-color: rgb(20, 19, 19);
    padding: 10px; 
    width: 700px;
    height: 200px;
    text-align: center; 
    justify-content: center;
    font-size: 20px;
    border-radius: 10px; /* Zaoblenie rohov kocky */
    border: 5px solid #ff0000; /* Rámček okolo kocky */
    transition: background-color 0.3s ease; /* Pridanie prechodového efektu pri zmene farby */
}

.NiečoOMne:hover {
    background-color: rgb(45, 38, 38); /* Nová farba kocky pri umiestnení myši */
}

.container {
    display: flex;
    justify-content: center; /* Horizontálne centrovanie kocky */
    align-items: center; /* Vertikálne centrovanie kocky */
    width: 100%; /* Zaberá 100% šírky rodiča (body) */
    height: 100%; /* Zaberá 100% výšky rodiča (body) */
}